@using ToDoodle.Data.Model
@model TodoItem
@{
    Layout = null;
}   


<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Todo Item</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddEditItem" method="post" id="AddEditItem">
                    <input type="hidden" name="id" value="@(Model!=null?Model.ID:Guid.Empty)" />
                    <div class="form-group col-sm-auto">
                        <label asp-for="Title">Item title:</label>
                        <input asp-for="Title" class="form-control" required value="@((Model != null)?Model.Title:"")" />
                    </div>
                    <div class="form-group col-sm-auto">
                        <label asp-for="DueAt">Due at:</label>
                        <input id="DueAt" type="datetime" required class="form-control" asp-for="DueAt"
                               value="@((Model != null)?Model.DueAt:null)" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="AddEditItem">Save</button>
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>