@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <form class="form-group">
            <div id="inputForm" class="form-group">
                <textarea id="message" class="form-control col-sm-6"></textarea>
            </div>
            <input type="button" id="sendBtn" class="btn btn-primary" value="Send" />
        </form>
        
        <div class="card col-sm-6 mt-2" style="overflow-y:scroll; max-height:58vh">
            <div id="chatroom" class="list-group">
            </div>
        </div>
        <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
        <script>
            const hubConnection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

            hubConnection.on("Send", function (data) {
                createMessageNode(data);
            });

            hubConnection.on("Notify", function (data) {
                createMessageNode(data);
            });

            function createMessageNode(message) {
                let elem = document.createElement("p");
                elem.className = "list-group-item";
                elem.appendChild(document.createTextNode(message));
                let firstElem = document.getElementById("chatroom").firstChild;
                document.getElementById("chatroom").insertBefore(elem, firstElem);
            }

            document.getElementById("sendBtn").addEventListener("click", function (e) {
                let message = document.getElementById("message").value;
                hubConnection.invoke("Send", message);
                $('#message').val('');
            });

            hubConnection.start();
        </script>
    </div>
