@{
    ViewData["Title"] = "Email confirmation Page";
}

    <div>
        <h5>Your email successfully confirmed!</h5>
        <a asp-controller="Account" asp-action="Login">Login</a>-
        <a asp-controller="Home" asp-action="Index">Home</a>
    </div>